doctype html
include includes/head.pug
script(src='/assets/js/form.js')
script(src="https://www.google.com/recaptcha/api.js" async defer)

body
    include includes/nav.pug
    #content
        span.header
            h2 Agrega tu bot
            p Llena estos datos.
        br
        form.center
            .input-holder
                input#botid.input(type='text' placeholder=' ')
                .placeholder ID del bot
            br
            .input-holder
                input#prefix.input(type='text' placeholder=' ')
                .placeholder Prefix de tu bot
            br
            .input-holder
                input#description.input(maxlength=max_summary_length type='text' placeholder=' ')
                .placeholder Summary
            br
            .input-holder
                textarea#longdesc.input(rows='7')
                .textarea-placeholder Descripcion
            br
            .input-holder
                input#note.input(maxlength=max_summary_length type='text' placeholder=' ')
                .placeholder Nota para un administrador
            br
            .input-holder
                input#ownerids.input.xinput(type='text' placeholder=' ')
                .placeholder ID de owner adicional
            br
            .center-inline.g-recaptcha(data-callback='update_token' data-sitekey=site_key data-theme=req.cookies["theme"] || "light")
            a.button(onclick='submit()') Agregar
            br
        br